name: yocto-dev-suite

services:
  yocto:
    build:
      context: ./docker-yocto
      dockerfile: Dockerfile
    image: yocto-dev:v1.0
    pull_policy: never 
    volumes:
      - type: volume
        source: yocto-data
        target: /home/yocto/yocto-labs
      - type: volume
        source: yocto-user
        target: /home/yocto/user
      - type: volume
        source: yocto-nfs
        target: /nfs

  nfs:
    build:
      context: ./docker-nfs-server
      dockerfile: Dockerfile
    image: nfs-server:local
    depends_on:
      yocto:
        condition: service_started
    cap_add:
      - SYS_ADMIN
    ports:
      - "2049:2049"
    environment:
      NFS_DISABLE_VERSION_3: "1"
      NFS_EXPORT_0: "/nfs *(rw,sync,no_root_squash,subtree_check,fsid=0,insecure)"
    volumes:
      - yocto-nfs:/nfs
      - /lib/modules:/lib/modules:ro

volumes:
  yocto-data:
    name: "yocto-data"
  yocto-nfs:
    name: "yocto-nfs"
  yocto-user:
    name: "yocto-user"
